{% extends "base.html" %}
{% set no_ads = true %}
{% set hide_signin = true %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="auth-form">
    <h1>Reset Password</h1>
    <div class="auth-subtitle">Set a new password for {{ username }}</div>
    <form method="POST">
        <label>New Password
            <input type="password" name="password" required minlength="6" autofocus>
        </label>
        <label>Confirm Password
            <input type="password" name="confirm" required minlength="6">
        </label>
        <button type="submit">Reset Password</button>
    </form>
</div>
{% endblock %}
